<!-- <p>favourite-movies works!</p> -->

<div *ngFor="let movies of movieCartItems">
    <p></p>
    <div class="movie_card" id="bright">
    <div class="info_section">
        <div class="movie_header">
        <img class="locandina" src="http://image.tmdb.org/t/p/w185_and_h278_bestv2{{movies.movieImage}}"/>
        <h1>{{movies.movieName}}</h1>
        <!-- <h4>2017, David Ayer</h4> -->
        <span class="minutes">Released on</span>
        <p class="type"> {{movies.movieDate}} </p>
        </div>
        <div class="movie_desc">
        <p class="text">
           {{movies.movieOverview}}
        </p>
        </div>
    </div>
    <div class="blur_back bright_back"></div>
    </div>
</div>



<!-- <div class="movie_card" id="tomb">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="https://mr.comingsoon.it/imgdb/locandine/235x336/53750.jpg"/>
      <h1>Tomb Raider</h1>
      <h4>2018, Roar Uthaug</h4>
      <span class="minutes">125 min</span>
      <p class="type">Action, Fantasy</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        Lara Croft, the fiercely independent daughter of a missing adventurer, must push herself beyond her limits when she finds herself on the island where her father disappeared.
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li><i class="material-icons">share</i></li>
        <li><i class="material-icons"></i></li>
        <li><i class="material-icons">chat_bubble</i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back tomb_back"></div>
</div>

<div class="movie_card" id="ave">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="https://mr.comingsoon.it/imgdb/locandine/235x336/53715.jpg"/>
      <h1>Black Panther</h1>
      <h4>2018, Ryan Coogler</h4>
      <span class="minutes">134 min</span>
      <p class="type">Action, Adventure, Sci-Fi</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        T'Challa, the King of Wakanda, rises to the throne in the isolated, technologically advanced African nation, but his claim is challenged by a vengeful outsider who was a childhood victim of T'Challa's father's mistake. 
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li><i class="material-icons">share</i></li>
        <li><i class="material-icons"></i></li>
        <li><i class="material-icons">chat_bubble</i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back ave_back"></div>
</div> -->