

<div id="sidenav">
        <ul class="nav nav-pills flex-column">
                <div class="avatar-card">
                    <div>
                        <div class="dashboard-avatar"></div>
                    </div>
                    <div class="avatar-details">
                        <h3>John Doe</h3>
                        <div class="icons">
                            <i class="fa fa-user"></i>
                            <i class="fa fa-envelope"></i>
                            <i class="fa fa-cog"></i>
                            <i class="fa fa-address-book"></i>
                        </div>
                    </div>
                </div>
            </ul>
            <div class="dropdown pad dropdown-btn downs" >
                <a class="dropdown-toggle " aria-expanded="false" data-toggle="collapse"><i class="fa fa-home shift-right"></i><span class="shift-far-right">Home</span>
                <span class="caret"></span></a>      
            </div>
            
                <ul class=" styl color ">
                <li class="shift-right-bit"><a href="#">dashboard</a></li>
                <li class="shift-right-bit"><a href="#">dashboard2</a></li>
                <li class="shift-right-bit"><a href="#">dashboard3</a></li>
                </ul>
                <div class="dropdown pad dropdown-btn downs" >
                <a class="dropdown-toggle " aria-expanded="false" data-toggle="collapse"><i class="fa fa-pencil shift-right"></i><span class="shift-far-right">Forms</span>
                <span class="caret"></span>
                </a>      
            </div>
            <div class="dropdown pad dropdown-btn downs" >
                <a class="dropdown-toggle " aria-expanded="false" data-toggle="collapse"><i class="fa fa-align-left shift-right"></i><span class="statistics">Statistics</span>
                <span class="caret"></span>
                </a>      
            </div>
                
                
            <div class="dropdown pad dropdown-btn downs" >
                    <a class="dropdown-toggle " aria-expanded="false" data-toggle="collapse"><i class="fa fa-file shift-right"></i><span class="extra">Extras</span>
                    <span class="caret"></span>
                </a>      
            </div>
                
            <div class="dropdown pad dropdown-btn downs" >
                <a class="dropdown-toggle " aria-expanded="false" data-toggle="collapse"><i class="fa fa-signal shift-right"></i><span class="analytics">Analytics</span>
                <span class="caret"></span>
                </a>      
            </div>
                
            <div class="dropdown pad dropdown-btn downs" >
                <a class="dropdown-toggle " aria-expanded="false" data-toggle="collapse"><i class="fa fa-wrench shift-right"></i><span class="comp">Components</span>
                <span class="caret"></span>
                </a>      
            </div>
                
                <ul class=" styl color ">
                <li class="shift-right-bit"><a href="#">Graphs</a></li>
                <li class="shift-right-bit"><a href="#">Tables</a></li>
                <li class="shift-right-bit"><a href="#">Charts</a></li>
                </ul>
            
            <div class="dropdown pad">
                <a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown"><i class="fa fa-check shift-right"></i><span class="widget">Widgets</span>
                <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu color">
                    <li class="shift-right-bit"><a href="#">Dashboard Boxes</a></li>
                </ul>
            </div>
</div>

    
    